<div class="container text-center">
  <div class="row align-items-start">
    <div
      class="col bg-secondary text-white m-2 pb-5 border border-dark rounded"
    >
      <h3>Backlog task</h3>
      <hr class="solid" />
      <% tasks.forEach((task) => { %> <% if (task.dataValues.status ===
      'backlog') { %>
      <div class="card text-bg-dark mt-2 shadow">
        <div class="card-header border-light text-start">
          <%= task.dataValues.title %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= task.dataValues.description %></p>
        </div>
        <div class="card-footer text-muted bg-light border-light text-end">
          Rojan Dahal
        </div>
      </div>
      <% } %> <% }) %>
    </div>
    <div
      class="col bg-secondary text-white m-2 pb-5 border border-dark rounded"
    >
      <h3>Todo</h3>
      <hr class="solid" />
      <% tasks.forEach((task) => { %> <% if (task.dataValues.status === 'todo')
      { %>
      <div class="card text-bg-dark mt-2 shadow">
        <div class="card-header border-light text-start">
          <%= task.dataValues.title %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= task.dataValues.description %></p>
        </div>
        <div class="card-footer text-muted bg-light border-light text-end">
          Rojan Dahal
        </div>
      </div>
      <% } %> <% }) %>
    </div>
    <div
      class="col bg-secondary text-white m-2 pb-5 border border-dark rounded"
    >
      <h3>Pending</h3>
      <hr class="solid" />
      <% tasks.forEach((task) => { %> <% if (task.dataValues.status ===
      'pending') { %>
      <div class="card text-bg-dark mt-2 shadow">
        <div class="card-header border-light text-start">
          <%= task.dataValues.title %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= task.dataValues.description %></p>
        </div>
        <div class="card-footer text-muted bg-light border-light text-end">
          Rojan Dahal
        </div>
      </div>
      <% } %> <% }) %>
    </div>
    <div
      class="col bg-secondary text-white m-2 pb-5 border border-dark rounded"
    >
      <h3>Done</h3>
      <hr class="solid" />

      <% tasks.forEach((task) => { %> <% if (task.dataValues.status === 'done')
      { %>
      <div class="card text-bg-dark mt-2 shadow">
        <div class="card-header border-light text-start">
          <%= task.dataValues.title %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= task.dataValues.description %></p>
        </div>
        <div class="card-footer text-muted bg-light border-light text-end">
          Rojan Dahal
        </div>
      </div>
      <% } %> <% }) %>
    </div>
  </div>
</div>
